
html, body {
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

#principal-body {

}

#main-header {
	width: auto;
	padding: 3rem;
	background: url("https://picsum.photos/1280/720/?random") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#toolbar {
	display: block;
}

#hero {
	padding-top: 15em;
	padding-bottom: 15em;
}

#secundary-body {
	background-color: #bababa;
	width: 100%;
	height: 100%;
}

#main-body {

}

#presentation {
	background-color: #f3f3f6;
	padding-left: 15em;
	padding-right: 15em;
	padding-top: 5em;
	padding-bottom: 5em;
	width: auto;
}

#works {
	background-color: #fdfdfd;
	padding: 5em;
}

/* --------------------------------------- */
.txt-l {
	text-align: left;
}

.text-center {
	text-align: center;
}

.txt-r {
	text-align: right;
}


/* Larger than mobile */
@media (min-width: 400px) {
	
}

/* Larger than phablet */
@media (min-width: 550px) {
	
}

/* Larger than tablet */
@media (min-width: 750px) {
	
}

/* Larger than desktop */
@media (min-width: 1000px) {
	
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
	
}